@tailwind base;
@tailwind components;
@tailwind utilities;


.indicator.active {
  color: #fff;
  background: rgb(119 226 44 / 0.4)
}

.slideShow{
  transition: ease 1000ms;
}

   /*No scrollBar?. add the code bellow */
  @layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

.customOverlay {
  backdrop-filter: blur(4px)
}
.customModal {
  background: #b2dbbf;
  max-width: 500px;
  width: 100%;
}

@keyframes customEnterOverlayAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveOverlayAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes customEnterModalAnimation {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveModalAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.2);
  }
}

  .active {
    padding: 2px;
  }

  .slideshowDot.active {
    background-color:burlywood;
  }

  /* .inputField:focus  + {
    background-color: aqua;
  } */

  /* products */
  @media (min-width: 600px) {
    .product {
        width: 18rem/* 288px */;
    }
}

@media (max-width: 350px){
  .hamburger-menu{
    width: 100%;
  }
}